<!-- Footer Start -->
<div class="container-fluid bg-dark footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-10px">
                    <br><br><br><br>
                    <br>
                    <h4 class="text-white mb-4">Autores:</h4>
                    <a class="btn btn-link" href="#">Rodriguez Pinta Robert Martin</a>
                    <a class="btn btn-link" href="#">López García Alfredo Josue</a>
                    <h4 class="text-white mb-4">Tutor:</h4>
                    <a class="btn btn-link" href="">Ortiz-Zambrano Jenny Alexandra.</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-10px">
                    <img src="static/img/icon/ico_wlx.png" alt="logo" srcset="">
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="../assets/js/corporate/vendor.min.js"></script>
<script src="../assets/js/corporate/app.min.js"></script>

</body>
</html>